@import './varbiables.scss';


.itemDescription {
    width: 80vw;
    display: grid;
    grid: repeat(5, auto) / repeat(9, auto);
    justify-content: center;
    align-content: center;
    gap: 8px;
    text-align: left;
    margin: 16px;

    .listingButtons {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: stretch;
        grid-row-start: 2;
        gap: 8px;


        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 24px;
            width: fit-content;
            border: 1px solid black;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }

    h3 {
        grid-row: 1 /2;
        grid-column: 1/5;
        font-size: 32px;
        font-weight: 500;
        color: $darkBlue;

    }

    img {
        grid-column: 1/4;
        grid-row-start: 3;
        height: 100%;
        width: 100%;
        object-fit: cover;
@include BorderRadius24();
    }

    .description {
        grid-row-start: 6;
        grid-column: 1/6;
    }

    .space {
        grid-column: 1/6;
    }

    .houseRules {
        grid-column: 1/6;
    }

    .infoBlat {
        padding: 16px;
        border: 1px solid black;
        grid-row-start: 3;
        grid-column: 4/6;
        border-radius: 24px;
        @include SurfaceBackgroundBlur;
        color: $darkBlue;
    }

    .subHeadline {
        font-size: 24px;

    }
}