.navbar {
  overflow-x: hidden;
  position: sticky;
  background-color: white;
  top: 0px;
  ;


  .navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .NavLink {
      display: flex;
      align-items: center;
      padding-inline: 16px;
      border-radius: 24px;
      width: fit-content;
      border: 1px solid black;
    padding-top: 8px;

    }
  }

  .NavLink {}
}