@import './varbiables.scss';


.buttonsContainer {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-content: space-around;
}


.buttonsContainer label {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 24px;
  height: 24px;

  border-radius: 10px;
  background-color: $lightBlue;
  cursor: pointer;
  color: white;
  height: 32px;
  @include BorderRadius24;
}

input[type="checkbox"] {
  display: none;

  &:checked+label {
    background-color: $darkBlue;
    ;
  }
}