@import './varbiables.scss';


.buttonsContainer {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-content: space-around;
}


.buttonsContainer label {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 24px;
  height: 32px;

  border-radius: 10px;
  background-color: #ebf5fc;
@include ButtonBlue;
cursor: pointer;
color: white;
}
input[type="checkbox"]{
  display:none;
}
