@import './varbiables.scss';


.container {
  height: 500px;
  width: 300px;
  position: fixed;
  padding-top: 20px;
  z-index: -1;
  background-color: #f0f0f0;
  color: #000;
  position: absolute;
}


.btn {
  background-color: #f0f0f0;
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px #212529;
  border-bottom: solid;
}

.btn:hover {
  background-color: #f9f9f9;
  border: 1px #212529;
}

//toggle
#toggle {
  display: none;
}

label {
  display: inline-block;;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin-left: 32px;
}

label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

#toggle:checked + label {
  background-color: #2196F3;
}

#toggle:checked + label::before {
  transform: translateX(20px);
}