@mixin InputsUnderline {
box-shadow: -2px -2px 4px 0px $lightBlue;
}

@mixin BorderRadius24 {
    border-radius: 24px;
}
@mixin OuterDropShadow {
    box-shadow: 2px 2px 2px 0px $darkBlue;
backdrop-filter: blur(42.5px);
}
@mixin PageBackground {
    background-color: #FEFEFE;
}

@mixin SurfaceBackgroundBlur {
    border-radius: 4px;
    border: 1px solid var(--805, $darkBlue);
    background: var(--ABI-Glass-BG, linear-gradient(112deg, rgba(239, 239, 239, 0.60) 8.14%, rgba(239, 239, 239, 0.08) 95.69%), rgba(245, 245, 245, 0.40));

    /* DropShadow ABI Rot 1 */
    box-shadow: -2px -2px 2px 0px $lightBlue;
    backdrop-filter: blur(22.5px);
}

@mixin ButtonWhite {
    border-radius: 48px;
    border: 1px solid $darkBlue;
    background: var(--ABI-White, #FEFEFE);
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    width: fit-content;
    height: 34px;

}
@mixin ButtonWhiteOnHover {
    border-radius: 48px;
    border: 1px solid $darkBlue;
    background: $lightBlue;
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    width: fit-content;
    @include OuterDropShadow();
}

@mixin ButtonBlue {
    border-radius: 48px;
    border: 1px solid var(--W, #FFF);
    background: $lightBlue;
    display: flex;
    align-items: center;
    width: fit-content;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
    height: 34px;

}

$darkBlue: #3969BB;
$lightBlue: #65C3EC;